[user]
	name = Anjali Shenoy
	email = ashenoy@yammer-inc.com
[core]
	editor = vim
	autocrlf = false
	safecrlf = true
	excludesfile = ~/.gitignore_global
[alias]
	st = status
  di = diff
  co = checkout
  br = branch
  ci = commit
  cia = commit --amend
  l  = log
  sl = shortlog
  slr = shortlog --reverse
  ss = stash
  fix = commit --amend -C HEAD
  spush = stash save
  spop = stash pop
	ahead = log origin/master..HEAD --oneline
  cl = clone

[color]
	diff = auto
	log = auto
	stash = auto
	branch = auto
	status = auto
[credential]
	helper = osxkeychain
